<li>
  <img class="countrie-flag" src="{{flags.png}}" alt="" width="240" />
  <h2 class="countrie-name">{{name.common}}</h2>
  <p class="capital-name all-fields">Capital: {{capital}}</p>
  <p class="population-field all-fields">Population: {{population}}</p>
  <div class="language-field all-fields">Languages: {{#each languages}}<p>{{this}}</p>{{/each}}</div>
</li>